<br><br><br>
<div class="container">
	<p style="text-align: right;">  <a href="" (click)="onLogout()">Log Out</a></p>
</div>
<br><br><br>



<div class="form-group">
    <button type="buton" class="btn btn-block" (click)="onLoginFacebook()">
      <i class="fa fa-facebook" aria-hidden="true"></i> 
      Login with Facebook
	</button>
	
	<button type="button" class="btn btn-block" (click)="onLoginGoogle()">
		<i class="fa fa-google" aria-hidden="true"></i>
		Login with Google
	  </button>
  </div>